body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#cb0033, #da0266);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    padding: 20px;
    background-color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
}
label {
    color: #811331;
    font-weight: bold;
}
h1 {
    color: white;
}
h2 {
    color: #811331;
}
h3 {
    font-size: 20px;
}
img {
    width: 50px;
    height: 30px;
}
a {
    font-size: 15px;
}
.content {
    background-color: white;
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    padding-top: 10px;
    margin-bottom: 80px;
}
#homepage-buttons {
    width: 50%;
}
#profile {
    display: flex;
    float: right;
    color: white;
    align-items: center;
}
.blank-link {
    @extend .profile-link;
    color: white;
}
.profile-link {
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
}
.profile-link:hover {
    color: white;
}
#footer {
    position: fixed;
    bottom: 0;
    background-color: darkslategray;
    width: 100%;
}
.aligned-center {
    display: flex;
    justify-content: center;
}
#profile-text {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#pfp {
    height: 50px;
}