body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#FF0040, #FF0080);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    padding: 20px;
    background-color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
}
label {
    color: #811331;
    font-weight: bold;
}
h1 {
    color: white;
}
h2 {
    color: #811331;
}
h3 {
    font-size: medium;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
img {
    width: 50px;
    height: 30px;
}
.options {
    background-color: white;
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    min-height: 62vh;
}
.form {
    @extend .options;
    padding-top: 10px;
}
#homepage-buttons {
    width: 50%;
}
#profile {
    display: flex;
    float: right;
    color: white;
    align-items: center;
}
.blank-link:hover {
    color: white;
}
#footer {
    background-color: darkslategray;
    width: 100%;
}
.aligned-center {
    display: flex;
    justify-content: center;
}
#pfp {
    height: 50px;
}