<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/50d775d5a2.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
  <title>{% block title %} {% endblock %}</title>
</head>

<header>
  <a class="blank-link" href="{{ url_for('home') }}">Joseph's Predictor</a>
  <div id="profile">
    <h3 id="profile-name">{{username}}</h3>
    <img id="pfp" src="{{ url_for('static', filename='images/pfp.png') }}" alt="profile image">
  </div>
</header>

<body>{% block body %} {% endblock %}</body>

<footer id="footer" class="container-fluid">
  <div class="row">
    <div class="col aligned-center">
      <h3 class="white-text">Contact me for help, feedback or anything else</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 aligned-center">
      <a href="mailto:parsonsjm20@haybridge.worcs.sch.uk?subject=World Cup Predictor" class="white-text blank-link">
        <i class="fas fa-envelope"></i>email</a>
    </div>
    <div class="col-6 aligned-center">
      <a href="github.com/parsnips1966" class="white-text blank-link"><i class="fas fa-code-branch"></i>GitHub</a>
    </div>
  </div>
</footer>

</html>