{% extends "base.html" %}

{% block body %}
<form class="container content" action="{{ url_for('login') }}" method="POST">
    <div class="row">
        <input name="email" type="email" id="emailinput" placeholder="Email">
    </div><br>
    <div class="row">
        <input type="password" placeholder="New Password">
    </div><b></b>
    <div class="row">
        <input type="password" placeholder="Confirm New Password">
    </div><br>
    <div class="row">
        <button class="btn btn-block btn-primary" type="submit"><i class="fas fa-arrow-right-to-bracket"></i>Change</button>
    </div>
</form>
{% endblock %}