{% extends "base.html" %}

{% block script %}
<script>
  $(document).ready(function() {
    $(".btn-block").addClass("animate__animated animate__bounce")
    $("#footer").show()
    $("#expand").hide()
      $("#collapse").click(function() {
        $("#footer").hide()
        $("#expand").show()
      })
      $("#expand").click(function() {
        $(this).hide()
        $("footer").show()
      })
  })
</script>
{% endblock %}

{% block title %}
Homepage
{% endblock %}

{% block body %}
<h1>Welcome to Joseph's World Cup predictor!</h1>
<div id="homepage-buttons" class="container content">
  <div class="row justify-content-sm-center">
    <div class="col-6 aligned-center">
      <a href="{{ url_for('login') }}"><button class="btn btn-block btn-primary">Login</button></a>
    </div>
    <div class="col-6 aligned-center">
      <a href="{{ url_for('signup') }}"><button class="btn btn-block btn-primary">Sign Up</button></a>
    </div>
    <img id="cinematic-image" src="{{url_for("static", filename="images/cinematic footballer.jpg")}}" alt="cinematic footballer">
  </div>
</div>
{% endblock %}