{% extends "base.html" %}

{% block script %}
<script>
  $(document).ready(function() {
    $("button").addClass("animate__animated animate__bounce")
  })
</script>
{% endblock %}

{% block title %}
Homepage
{% endblock %}

{% block body %}
<h1>Welcome to Joseph's World Cup predictor!</h1>
<div id="homepage-buttons" class="container options">
  <div class="row">
    <h3 class="red-text">{{error}}</h3>
  </div>
  <div class="row justify-content-sm-center">
    <div class="col-6 aligned-center">
      <a href="{{ url_for('login') }}"><button class="btn btn-block btn-primary">Login</button></a>
    </div>
    <div class="col-6 aligned-center">
      <a href="{{ url_for('signup') }}"><button class="btn btn-block btn-primary">Sign Up</button></a>
    </div>
  </div>
</div>
{% endblock %}