{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block body %}
<h1>Sign up</h1>
<form class="container content" action="{{ url_for('signup') }}" method="POST">
  <div class="row">
    <input name="email" type="email">Email (use school email if you are a Haybridge student)<br><br>
  </div>
  <div class="row">
    <input name="password" type="password">Password<br><br>
  </div>
  <div class="row">
    <input name="confirm-password" type="password">Confirm Password<br><br>
  </div>
  <div class="row">
    <button class="btn btn-block btn-primary" type="submit"><i class="fas fa-arrow-right-to-bracket"></i>Sign Up</button>
  </div>
</form>
{% endblock %}